<?xml version="1.0"?>
<robot name="aloha_vx300s_min">

  <!-- Links -->
  <link name="base_link"/>
  <link name="shoulder_link"/>
  <link name="upper_arm_link"/>
  <link name="upper_forearm_link"/>
  <link name="lower_forearm_link"/>
  <link name="wrist_link"/>
  <link name="gripper_link"/>
  <link name="ee_arm_link"/>
  <link name="gripper_prop_link"/>

  <!-- Joints -->
  <joint name="waist" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <origin xyz="0 0 0.079" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" lower="-3.141582653589793" upper="3.141582653589793" velocity="3.141592653589793"/>
  </joint>

  <joint name="shoulder" type="revolute">
    <parent link="shoulder_link"/>
    <child link="upper_arm_link"/>
    <origin xyz="0 0 0.04805" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="20" lower="-1.8500490071139892" upper="1.2566370614359172" velocity="3.141592653589793"/>
  </joint>

  <joint name="elbow" type="revolute">
    <parent link="upper_arm_link"/>
    <child link="upper_forearm_link"/>
    <origin xyz="0.05955 0 0.3" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="15" lower="-1.7627825445142729" upper="1.6057029118347832" velocity="3.141592653589793"/>
  </joint>

  <joint name="forearm_roll" type="revolute">
    <parent link="upper_forearm_link"/>
    <child link="lower_forearm_link"/>
    <origin xyz="0.2 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="2" lower="-3.141582653589793" upper="3.141582653589793" velocity="3.141592653589793"/>
  </joint>

  <joint name="wrist_angle" type="revolute">
    <parent link="lower_forearm_link"/>
    <child link="wrist_link"/>
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="5" lower="-1.8675022996339325" upper="2.234021442552742" velocity="3.141592653589793"/>
  </joint>

  <joint name="wrist_rotate" type="revolute">
    <parent link="wrist_link"/>
    <child link="gripper_link"/>
    <origin xyz="0.069744 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="1" lower="-3.141582653589793" upper="3.141582653589793" velocity="3.141592653589793"/>
  </joint>

  <joint name="ee_arm" type="fixed">
    <parent link="gripper_link"/>
    <child link="ee_arm_link"/>
    <origin xyz="0.042825 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
  </joint>

  <joint name="gripper" type="fixed">
    <parent link="ee_arm_link"/>
    <child link="gripper_prop_link"/>
    <origin xyz="0.005675 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit effort="1" velocity="3.141592653589793"/>
  </joint>

</robot>
